<div class="container-fuid">
<nav class="navbar navbar-inverse" role="navigation">
	<div class="container">
		<div class="row">
				   <div class="col-md-3">
				      <h3>活动指南</h3>
						<ul>
						    <li><a href="#">参加活动</a></li>
				            <li><a href="#">会员介绍 </a></li>
				            <li><a href="#">常见问题</a></li>
			         	</ul>
 				  </div>
				  <div class="col-md-3">
						<h3>支付方式</h3>
				        <ul class="f-list1">
						    <li><a href="#">在线支付</a></li>
				            <li><a href="#">转账服务 </a></li>
				            <li><a href="#">支付问题</a></li>
			         	</ul>
				</div>
				 <div class="col-md-3">
				    <h3>售后服务</h3>
				    <ul class="f-list1">
						 <li><a href="#">在线支付</a></li>
				         <li><a href="#">转账服务 </a></li>
				         <li><a href="#">支付问题</a></li>
				    </ul>
 				 </div>
				 <div class="col-md-3">
				   <h3>特色服务</h3>
				    <ul class="f-list1">
						 <li><a href="#">活动推荐</a></li>
				         <li><a href="#">采风旅游 </a></li>
				         <li><a href="#">摄影大赛</a></li>
				    </ul>
				</div>
		  <div class="clear"></div>
		  </div>
		  
		<div class="row">
	             <div class="col-md-8">
			        <p>京ICP证110507号 京ICP备10046444号 京公网安备1101080212535号 京网文[2014]0059-0009号</p>
		         </div>
				<div class="col-md-4">
				 <ul class="list-inline">
					<li class="active"><a href="about.html">关于我们</a></li> |
					<li><a href="delivery.html">广告服务</a></li> |
					<li><a href="delivery.html">免责声明</a></li> |
					<li><a href="contact.html">联系我们</a></li> 
				 </ul>
			    </div>
			    <div class="clear"></div>
	     </div>
	</div>
  </nav>
</div>