
<a href="javascript:void(0);" id="locate" data-toggle="popover" data-placement="bottom" 
	data-html="true" data-trigger="click focus" data-container="body" class="text-warning"
data-content='<ul class="list-group">
				<li><a href="?area=beijing">北京</a></li>
				<li><a href="?area=shanghai">上海</a></li>
				<li><a href="?area=guangzhou">广州</a></li>
				<li><a href="?area=guangzhou">深圳</a></li>
				<li><a href="?area=tianjin">天津</a></li>
				<li><a href="?area=chengdu">成都</a></li>
			</ul>'><span>全部▼[选择]</span></a>

<script type="text/javascript">
	//地区下拉开始
	$(function () {
		$("#locate").popover();
	});
</script>

