<#assign basePath=request.contextPath>
<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
  <!-- title start-->
   <#include "./common/title.html">
  <!-- title end-->
  
  <!-- link start-->
   <#include "./common/link.html">
  <!-- link end-->
  
  <!--start slider -->
    <link rel="stylesheet" href="${basePath}/css/fwslider.css" media="all">
    <link href="${basePath}/css/index.css" rel="stylesheet" type="text/css" media="all" />
    <script src="${basePath}/js/jquery-ui.min.js"></script>
    <script src="${basePath}/js/fwslider.js"></script>
  <!--end slider -->
  
</head>

<body>
    
  <!-- header start-->
  <#include "./common/header.html">
  <!-- header end -->
  
   <!-- fwslider start-->
   <#include "./common/fwslider.html">
  <!-- fwslider end-->
  
<div class="main-content">
	<div class="container">
		<div class="row clearfix">
			<div class="col-md-12 column">
				<div class="row">
					<div class="col-md-4">
						<div class="thumbnail">
							<img alt="300x200" src="${basePath}/upload/project/example/project1.jpg" />
							<div class="caption">
								<h3>标题一</h3>
								<p>是的，这部分就是内容啦！</p>
								<p>
									<a class="btn btn-primary" href="#">浏览</a>
									<a class="btn" href="#">更多 »</a>
								</p>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="thumbnail">
							<img alt="300x200" src="${basePath}/upload/project/example/project2.jpg" />
							<div class="caption">
								<h3>标题二</h3>
								<p>对的，这部分就是内容啦！</p>
								<p>
									<a class="btn btn-primary" href="#">浏览</a>
									<a class="btn" href="#">更多 »</a>
								</p>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="thumbnail">
							<img alt="300x200" src="${basePath}/upload/project/example/project3.jpg" />
							<div class="caption">
								<h3>标题三</h3>
								<p>没错，这部分就是内容啦！</p>
								<p>
									<a class="btn btn-primary" href="#">浏览</a>
									<a class="btn" href="#">更多 »</a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="row clearfix">
			<div class="col-md-12 column">
				<div class="row">
					<div class="col-md-4">
						<div class="thumbnail">
							<img alt="300x200" src="${basePath}/upload/project/example/project1.jpg" />
							<div class="caption">
								<h3>标题一</h3>
								<p>是的，这部分就是内容啦！</p>
								<p>
									<a class="btn btn-primary" href="#">浏览</a>
									<a class="btn" href="#">更多 »</a>
								</p>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="thumbnail">
							<img alt="300x200" src="${basePath}/upload/project/example/project2.jpg" />
							<div class="caption">
								<h3>标题二</h3>
								<p>对的，这部分就是内容啦！</p>
								<p>
									<a class="btn btn-primary" href="#">浏览</a>
									<a class="btn" href="#">更多 »</a>
								</p>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="thumbnail">
							<img alt="300x200" src="${basePath}/upload/project/example/project3.jpg" />
							<div class="caption">
								<h3>标题三</h3>
								<p>没错，这部分就是内容啦！</p>
								<p>
									<a class="btn btn-primary" href="#">浏览</a>
									<a class="btn" href="#">更多 »</a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>
</div>
  <!-- footer start-->
  <#include "./common/footer.html">
  <!-- footer end -->
  
  </body>
</html>
   