<#assign basePath=request.contextPath>
<!DOCTYPE HTML>
<html>
<head>
<!-- title start-->
   <#include "../../common/title.html">
  <!-- title end-->
  
  <!-- link start-->
   <#include "../../common/link.html">

  <!-- link end-->
  
</head>

<body>
  <!-- header start-->
  <#include "../../common/header.html">
  <!-- header end -->
  
 <div class="container" style="margin-top: 5%;margin-bottom: 20%;">
	<div class="row clearfix">
		<div class="col-sm-3 col-md-3 column">
			<ul class="nav nav-tabs nav-stacked">
				<li class="active">
					<a href="#">首页</a>
				</li>
				<li>
					<a href="#">资料</a>
				</li>
				<li>
					<a href="#">消息</a>
				</li>
				
			</ul>
		</div>
		<div class="col-sm-9 col-md-9 column">
		</div>
	</div>
</div>



		<!-- footer start-->
  <#include "../../common/footer.html">
  <!-- footer end -->
  
  </body>
</html>